:root{
    /* Color styles */
--nero-100: rgba(0, 0, 0, 1);
--black-opacity: rgba(0, 0, 0, 0.5);
--deep-blue: rgba(20, 25, 34, 1);
--dark-grey: rgba(40, 40, 40, 1);
--text-white: rgba(255, 255, 255, 1);
--text-grey: rgba(113, 113, 113, 1);
--lime-green: rgba(173, 255, 47, 1);
--light-grey:rgb(206, 198, 198);


}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    /* scrollbar-color: var(--lime-green); */
}




body{
    font-family: 'Montserrat', sans-serif;
    scrollbar-width: thin;
    background-color: var(--dark-grey);
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--deep-blue);
}




main{
    overflow-y: hidden;
    width: 100%;
    height: calc(100vh - 95px);
    
}

.d-flex{
    display: flex;

}

.nav{
    z-index: 100;
    width: 250px;
    background-color: var(--nero-100);
    
    color: var(--text-white);
}

.wrapper-nav{
    color: var(--text-grey);
    height: calc(100% - 70px);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}


.logo-container img{
    
    height: 3.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

/* navtop */

.menu-left{
    margin-top: 2rem;
}

.icone-top{
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    padding-right: 2.5rem;
    padding-left: 2rem;
    
}

.menu-left  a{
    text-decoration: none;
    color: var(--text-grey);
}

.top-nav-bar:hover{
    color: var(--text-white);
    border-left: 3px solid var(--lime-green) ;
}

.top-nav-bar a:hover{
    color: var(--text-white);
}

.playlist{
    padding-left:2rem;
}


.playlist h2{
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0.5rem 0;
}

#add-song{
    vertical-align: middle;
    margin-bottom: 1rem;
    line-height: 32px;
}

#add-song p{
    vertical-align: middle;
    display: inline-block;
}

.fa-plus-square{
    vertical-align: middle;
    font-size: 3rem;
    margin-right: 1rem;
}

.playlist-container{
    height: 350px;
    overflow-y: scroll;
    scrollbar-width: thin;
   
}

.playlist-name{
    
    line-height: 2rem;
    height: 100%;

}

.nav-down-fixed{
    width: 250px;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 3rem;
    position: fixed;
    bottom: 95px;
    background-color: var(--nero-100);
}

#nome-user{
    font-size: 1.2rem;
    color: var(--text-white);
}


/* layout-destra */

/* top bar trasparenza fissa */

.top-bar-browse a{
    color: var(--text-white);
    padding: 0.5rem 2.2rem;
    border-radius: 50px;
    border: 1px solid var(--text-white);
    margin-right: 1rem;
    text-decoration: none;
   text-transform: uppercase;
   font-size: 0.8rem;
   
    transition:  0.4s  ;
}

.browse-container{
    
    width: calc(100% - 250px);
    background-color: var(--deep-blue);
    overflow-y: scroll;
    color: var(--text-white);
    padding: 0 2rem;
    padding-top: 95px;
    
}

.top-bar-browse{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 95px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.321);
    z-index: 500;
}

.top-bar-browse a:hover{
    transform: scale(1.1); 
}
/* ------- */

/* parte discografica */


.scroll-browse{
    
    height: 1600px;
}

.browse-nav-bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.browse-nav-bar a{
    color: var(--text-grey);
    text-decoration: none;
    padding: 2rem 1rem 0.3rem 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.browse-nav-bar a:hover{
    border-bottom: 2px solid var(--lime-green);
    color: var(--text-white);
    
}

.recent{
    margin: 2rem 0;
}

.titolone{
    padding-left: 0.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.recent-song{
    flex-flow: row wrap;
    display: flex;
    justify-content: flex-start;
    
    
}


.cover img{
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.cover{
    
    position: relative;
    
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-opacity);
    top: 0;
    display:none
}

.play-btn i{
    color: var(--lime-green);
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    font-size: 2rem; 
}

/* interezione */

.flex-browse:hover  .overlay{
    display: block;
}

.flex-browse:hover  img{
    transform: scale(1.1);
   
}


.cover{
    overflow: hidden;
}


.flex-browse{
    cursor: pointer;
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 0.5rem;
    padding: 0 0.5rem;
    
    
    
}

.flex-browse h3{
    font-size: 0.8rem;
}


h4{
    font-weight: 500;
    color: var(--text-grey);
    font-size: 0.7rem;
}


.titolone h4{
    font-weight: 400;
    
}

.round {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.round img{
    border-radius: 50%;
    
}

/* ------- */

/* playbar */

.player-bar {
    color: var(--text-white);
    height: 95px;
    z-index: 1000;
}

.inner-control-bar {
    height: 100%;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    z-index: 3000;
}

.inner-control-bar-sx {
    align-items: center;
    flex-basis: 25%;
}

.inner-control-bar-center {
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    flex-basis: 50%;
    gap: 10px;
}

.inner-control-bar-dx {
    padding-left: 1rem;
    align-items: center;
    flex-basis: 25%;
    gap: 1rem;
    justify-content: flex-end;
}

.inner-control-bar-sx img {
    width: 70px;
    padding-right: 15px;
}

.icon-left {
    padding-left: 35px;
    color: var(--text-grey);
    font-size: 1.25rem;
}

.icon-left :first-child {
    padding-right: 15px;
}

.control {
    font-size: 1.rem;
    gap: 40px;
    align-items: center;
}

.play {
    font-size: 2.5rem;
}

.time-bar {
    align-items: center;
    font-weight: 600;
    font-size: 0.5rem;
    width: 100%;
}

.bar {
    height: 5px;
    width: 80%;
    border-radius: 20px;
    background-color: var(--text-grey);
    margin: 0 20px;
    position: relative;
}

.bar:after {
    display: block;
    position: absolute;
    content: '';
    background: var(--light-grey);
    height: 5px;
    width: 25%;
    border-radius: 20px 0 0 20px;
}





.inner-control-bar-dx i {
    font-size: 1rem;
}

.vol {
    height: 5px;
    width: 120px;
    border-radius: 20px;
    background-color: var(--text-grey);
    position: relative;
}

.vol:after {
    display: block;
    position: absolute;
    content: '';
    background: var(--light-grey);
    height: 5px;
    width: 30px;
    border-radius: 20px 0 0 20px;
}


@media screen and (max-width: 992px) {
    .flex-browse{
        width: calc(100% / 4);
       margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .flex-browse{
        width: calc(100% / 2);
       margin-bottom: 1rem;
    }
}