:root{
    /* Color styles */
--nero-100: rgba(0, 0, 0, 1);
--black-opacity: rgba(0, 0, 0, 0.5);
--deep-blue: rgba(20, 25, 34, 1);
--dark-grey: rgba(40, 40, 40, 1);
--text-white: rgba(255, 255, 255, 1);
--text-grey: rgba(113, 113, 113, 1);
--lime-green: rgba(173, 255, 47, 1);
--light-grey:rgb(226, 226, 226);
--blue: #2875DE;



}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/* font e pesi */

    h6{
        color: var(--nero-100);
        font-weight: 200;
    }

    h4{
        font-weight: 400;
    }



/* +++++++++++++ */

*a{
    color: var(--text-white);
}

.container{
    
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
header{
    color: var(--text-white);
}

.d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav div ul {
    display: flex;
}

nav ul li a{
    color: var(--text-white);
    padding: 0 1rem;

}


nav{
    background-color: var(--nero-100);
    height: 100px;
    padding: 1rem 0;
}

.logo {
    width: 10rem;
}

.hero{
    background-color: var(--blue) ;
}

.hero-content{
    padding: 1.5rem 0;
}

#termini-top{
    color: var(--text-white);
    text-decoration: underline;
}


/* main  */

/* section 1 */

.why-premium{
    padding: 2rem 0;
}

.benefits{
    padding: 2rem 0;
}

.benefit img{
    width: 30%;
    padding: 1rem;
}

.benefit-txt{
    flex-basis: 70%;
    align-self: center;
    padding-left: 2rem;
    line-height: 1.5rem;
}

/* ******************* */


/* section 2 */

.which-premium{
    background-color: var(--light-grey);
    padding: 2rem 0;
}

.cards{
    width: 100%;
}

.card{
    margin: 2rem 0;
    background-color: var(--text-white);
    -webkit-box-shadow: 0px 0px 10px 0px #000000; 
    box-shadow: 0px 0px 10px 0px #000000;
    border-radius: 2rem;
    padding: 1rem;
    width: inherit;
    
    
}

#termini-card {
    color: var(--nero-100);
    text-decoration: underline;
}

/* ******************* */


/* footer */

footer{
    background-color: var(--nero-100);
    height: 100px;
}



/* ******************* */

